a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    text-align: center;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* header title */

.title-animation-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 5em;
}

.title-animation-container:first-of-type {
    animation: showup 1s;
}

.title-animation-container:last-of-type {
    animation: reveal 5s;
}

.title-animation-container:last-of-type span {
    animation: slidein 5s;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 3.4em;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        width: 3.4em;
    }
}

.title-container {
    padding-top: 5em;
    transition: opacity .5s ease-out;
    opacity: 1;
}

.title-container-hidden {
    transition: opacity .5s ease-out;
    opacity: 0;
}


/* MOUSE */

.mouse-scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 10em;
    margin-bottom: 13em;
    transition: opacity .5s ease-in;
    opacity: 1;
}

.mouse-scroll-hidden {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.unu {
    margin-top: .2em;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
}

.doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    /* margin-top: -6px; */
}

.trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    /* margin-top: -6px; */
}

.mouse {
    height: 2.5em;
    width: 1.5em;
    border-radius: 14px;
    transform: none;
    border: .15em solid white;
}

.wheel {
    height: .2em;
    width: .2em;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    /* height: 4px;
    width: 4px; */
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 5px;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 15px;
    }
    100% {
        top: 5px;
    }
}

@-o-keyframes mouse-wheel {
    0% {
        top: 5px;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 15px;
    }
    100% {
        top: 5px;
    }
}

@keyframes mouse-wheel {
    0% {
        top: 5px;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 15px;
    }
    100% {
        top: 5px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/* Apearring stuff */


/* Middle text */

.description-container-hidden {
    opacity: 0;
    padding: 2em 1em 3em 1em;
}

.off {
    animation: opacityOff .25s ease-out;
}

@keyframes opacityOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacityOff {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.description-container-revealed {
    animation: opacityOn .5s ease-in;
    opacity: 1;
}

.test {
    height: 30em;
}


/* Buttons */

.left-button,
.right-button {
    border: .2em solid white;
    /* padding: .75em; */
    margin: 2em;
    width: 10em;
    height: 2.75em;
    border-radius: 3em;
    background: none;
    color: white;
    opacity: 0;
}

.left-button {
    transform: translateX(-50%);
}

.right-button {
    transform: translateX(50%);
}

.visible-left {
    transition: all .5s ease-out;
    transition-property: opacity, transform;
    transform: translateX(0%);
    opacity: 1;
    /* animation: buttonComeInLeft .5s ease-in; */
}

.dissapear-left {
    transition: all .5s ease-out;
    transition-property: opacity, transform;
    transform: translateX(-50%);
    opacity: 0;
    /* animation: buttonComeOutLeft .5s ease-in; */
}

.visible-right {
    transition: all .5s ease-out;
    transition-property: opacity, transform;
    transform: translateX(0%);
    opacity: 1;
    /* animation: buttonComeInRight .5s ease-in; */
}

.dissapear-right {
    transition: all .5s ease-out;
    transition-property: opacity, transform;
    transform: translateX(50%);
    opacity: 0;
    /* animation: buttonComeOutRight .5s ease-in; */
}

.left-button:hover,
.right-button:hover {
    transition: all .5s ease-in-out;
    transition-property: background-color, color;
    background: white;
    color: black;
}